<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>cts2Servlet</servlet-name>
    <servlet-class>edu.mayo.cts2Viewer.server.Cts2ServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>cts2Servlet</servlet-name>
    <url-pattern>/cts2Viewer/cts2</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Cts2Viewer.html</welcome-file>
  </welcome-file-list>

</web-app>
