/** Add css rules here for your application. */


/** Header image */
.cts2-header {
	  border-top: 1px solid #7598c7;   
	     
	  background-image: url(images/headerBackground.png);
	  background-repeat: repeat-x; 
	   
	 /* padding-top: 4px;
	  padding-right: 4px;
	  padding-bottom: 4px;
	  padding-left: 4px; */
	}